@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
li {
  list-style-type: none;
}

body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #444444;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #222;
}

.logo__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
}

.logo__text {
  font-weight: 500;
}

.logo__word {
  display: block;
  line-height: 1;
}

.btn {
  display: block;
  border: none;
  outline: none;
  text-align: center;
  color: #444;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 10px 30px;
  transition: 0.2s ease-in-out;
}
.btn_s {
  padding: 7px 20px;
  font-size: 13px;
}
.btn_blue {
  background: #3361fa;
  color: #fff;
}
.btn_blue:hover {
  background: #002bb6;
}
.btn_green {
  background: #009d54;
  color: #ffffff;
}
.btn_green:hover {
  background: #03c269;
}
.btn_grey {
  background: #f0f0f0;
}
.btn_grey:hover {
  background: #ffffff;
}
.btn_bd {
  border: 1px solid #aaa;
}
.btn_bd:hover {
  border: 1px solid #000;
}

.catalog-btn {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
}

.catalog-btn__icon {
  width: 20px;
  height: 20px;
}

.input {
  border: none;
  outline: none;
  font-size: 16px;
}

.sticker {
  display: block;
  width: 30px;
  height: 30px;
  padding: 2px;
  background: #fff;
  border-radius: 50%;
}

.sticker__icon {
  width: 100%;
  height: 100%;
}
.sticker__icon_btn {
  opacity: 0.3;
  cursor: pointer;
}
.sticker__icon.active {
  opacity: 1;
}

.search {
  display: flex;
  gap: 20px;
  width: 100%;
}

.search__label {
  font-size: 16px;
}

.search__controls {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding-right: 5px;
  gap: 10px;
}
.search__controls::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 1px;
  background: #ccc;
}

.search__input {
  flex-grow: 1;
}

.search__btn {
  padding: 0;
}

.search__icon {
  width: 16px;
  height: 16px;
}

.header-top {
  background: #f5f5f5;
  height: 60px;
}

.header-top__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.header__contact-info {
  display: flex;
  gap: 20px;
}

.header__contact {
  color: #666;
  font-weight: 500;
  text-decoration: none;
}
.header__contact:hover {
  color: #000;
}

.menu {
  display: flex;
  gap: 15px;
}

.menu-item {
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 1;
  cursor: pointer;
}
.menu-item:hover .menu-item__btn {
  opacity: 1;
}
.menu-item:hover .menu-dropdown {
  display: block;
}

.menu-item__btn {
  opacity: 0.5;
}

.menu-item__sticker {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #002bb6;
  color: #fff;
  border-radius: 50%;
  font-size: 9px;
}

.menu-item__icon {
  max-width: 30px;
  max-height: 30px;
}

.menu-dropdown {
  position: absolute;
  display: none;
  padding-top: 20px;
  right: 0;
  transform: translate(20px, 0);
  min-width: 150px;
}

.menu-dropdown__content {
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.submenu {
  padding: 10px;
}

.submenu__item {
  display: block;
  margin-bottom: 5px;
  color: #999;
  transition: 0.2s ease-in-out;
  font-weight: 500;
}
.submenu__item:last-child {
  margin-bottom: 0;
}
.submenu__item:hover {
  color: #000;
}

.short-basket {
  padding: 10px;
  width: 200px;
}

.short-basket__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.short-basket__info {
  margin-bottom: 20px;
}

.short-basket__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.header-center {
  border: 1px solid #f5f5f5;
}

.header-center__inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-search {
  max-width: 400px;
}

.header__search {
  max-width: 400px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav__item {
  position: relative;
  font-weight: 500;
  color: #000;
}
.nav__item.active::before {
  bottom: -7px;
  opacity: 1;
}
.nav__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  width: 100%;
  background: #000;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.nav__item:hover::before {
  bottom: -7px;
  opacity: 1;
}

.main-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.main-slider__track {
  width: 100%;
  height: 600px;
  display: flex;
}

.main-slider__slide {
  width: 100%;
  flex-shrink: 0;
}

.main-slider__img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main-slider__arrow {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #dfdfdf;
  cursor: pointer;
}
.main-slider__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-44%, -50%);
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("./../../images/icon/main-slider-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.main-slider__arrow.next {
  right: 20px;
}
.main-slider__arrow.prev {
  left: 20px;
  transform: rotate(180deg);
}

.catalog {
  background: #fff;
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.catalog__inner {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  background: #fff;
}

.catalog__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100%;
  padding: 30px 10px;
}

.catalog__search {
  width: 100%;
}

.catalog__top {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}

.catalog__close {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.catalog__close:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("./../../images/icon/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.catalog-nav {
  height: 100%;
  width: 300px;
  flex-shrink: 0;
  border-right: 3px solid #dfdfdf;
  padding: 30px 10px;
}

.catalog-nav__title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}

.catalog-nav__link {
  position: relative;
  background: #fff;
  margin-bottom: 5px;
  padding: 6px 25px 6px 10px;
  display: block;
  color: #444444;
  transition: background 0.2s ease-in-out;
}
.catalog-nav__link:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("./../../images/icon/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.3;
}
.catalog-nav__link:hover {
  background: #f0f0f0;
  font-weight: 500;
}
.catalog-nav__link:hover:before {
  opacity: 1;
}
.catalog-nav__link.active {
  background: #f0f0f0;
  font-weight: 500;
}
.catalog-nav__link.active:before {
  opacity: 1;
}

.catalog-menu {
  display: none;
  height: 100%;
  flex-direction: column;
  padding-bottom: 50px;
}
.catalog-menu.show {
  display: flex;
}

.catalog-menu__title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
}

.catalog-menu__list {
  overflow-y: auto;
}

.catalog-category {
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
}

.catalog-category__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.catalog-category__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

.catalog-category__link {
  font-size: 14px;
  padding: 5px;
  color: #444444;
}
.catalog-category__link:hover {
  background: #f0f0f0;
}

.section {
  margin-bottom: 50px;
}

.section__title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}

.section__content {
  margin-bottom: 30px;
}

.section__bottom {
  display: flex;
}

.section__btn {
  margin-left: auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 10px;
  background: #ffffff;
  transition: box-shadow 0.2s ease-in-out;
}
.product-card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.product-card .product-card__img-link {
  overflow: hidden;
}
.product-card:hover .product-card__img {
  transform: scale(1.1);
  opacity: 1;
}

.product-card__sticker-list {
  z-index: 10;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card__img-link {
  background: #000;
  margin-bottom: 10px;
}

.product-card__img {
  width: 100%;
  height: 256px;
  object-fit: cover;
  object-position: center;
  opacity: 0.8;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.product-card__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.product-card__link {
  color: #444;
}
.product-card__link:hover {
  color: #b60000;
}

.product-card__bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__price {
  font-size: 16px;
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */