$base-color-1: #000b9a;
$base-color-2: #1f256e;
$base-color-3: #00075d;
$base-color-4: #4e58e0;
$base-color-5: #8c92e0;

$second-color-a1: #df2700;
$second-color-a2: #9f412d;
$second-color-a3: #861700;
$second-color-a4: #f57155;
$second-color-a5: #f5a999;

$second-color-b1: #7d0092;
$second-color-b2: #5d1e69;
$second-color-b3: #4b0058;
$second-color-b4: #c84dde;
$second-color-b5: #d18ade;

$text-base: #333;
