$base-color-1: #640cab;
$base-color-2: #582781;
$base-color-3: #3f046f;
$base-color-4: #9240d5;
$base-color-5: #a468d5;

$second-color-a1: #ff0d00;
$second-color-a2: #bf3730;
$second-color-a3: #a60800;
$second-color-a4: #ff4940;
$second-color-a5: #ff7a73;

$second-color-b1: #0b5fa5;
$second-color-b2: #25547b;
$second-color-b3: #043c6b;
$second-color-b4: #3f8fd2;
$second-color-b5: #66a1d2;
