html {
  min-height: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: $text-base;
  background: $color-bg;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.slim-container {
  display: flex;

  width: 100%;
  max-width: 730px;
  padding: 0 15px;
  margin: auto auto;
}
