.about__section {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 50px;

  &--row-reverse {
    flex-direction: row-reverse;
  }
  &--column {
    flex-direction: column;
  }

  @media (max-width: 1080px) {
    flex-direction: column;
  }
}

.about__desc {
  flex-grow: 1;
}

.about__img {
  //max-width: 600px;
  //height: 300px;
  width: 50%;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
  &--full {
    width: 100%;
    max-width: fit-content;
    height: auto;
  }
  @media (max-width: 1080px) {
    width: 100%;
  }
}
