.breadcrumbs {
  margin-bottom: 20px;

  @media (max-width: 1080px) {
    display: none;
  }
}

.breadcrumbs__link {
  font-size: 14px;
}

.breadcrumbs__link {
  color: $text-base;
  &:hover {
    color: $color-4;
  }
}
