.catalog-nav {
  height: 100%;
  max-width: 300px;
  width: 100%;
  flex-shrink: 0;
  border-right: 3px solid #dfdfdf;
  background: #fff;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}
.catalog-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px;
}
.catalog-nav__title {
  font-size: 24px;
  font-weight: 500;
}

.catalog-nav__list {
  //display: flex;
  //flex-direction: column;
  padding: 0 10px;
  overflow-y: auto;
}

.catalog-nav__link {
  position: relative;
  background: #fff;
  margin-bottom: 5px;
  padding: 6px 25px 6px 5px;
  display: block;
  color: $text-base;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("./../../images/icon/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.3;
  }
  &:hover {
    background: #f0f0f0;
    font-weight: 500;
    &:before {
      opacity: 1;
    }
  }
  &.active {
    @media (min-width: 1280px) {
      background: #f0f0f0;
      color: $color-4;
      &:before {
        opacity: 1;
        background-image: url("./../../images/icon/arrow-right-orange.svg");
      }
    }
  }

  @media (max-width: 1280px) {
    &:before {
      opacity: 0;
    }
  }
}
