.footer {
  margin-top: auto;
  background: $second-color-b3;
}

.footer__inner {
  padding: 30px 0 0;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer__contacts {
  display: flex;
  gap: 20px;
}

.footer__city {
  font-size: 16px;
  font-weight: 500;
  color: $second-color-b5;
}

.footer__phone {
  font-size: 18px;
  color: $second-color-b5;
  font-weight: 500;
  &:hover {
    color: #fff;
  }
}

.footer__mail {
  font-size: 16px;
  color: $second-color-b5;
  font-weight: 500;
  &:hover {
    color: #fff;
  }
}
.footer__bottom {
  font-size: 14px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.footer-nav__item {
  color: $second-color-b5;
  &::before {
    background: $second-color-b5;
  }
}

.footer__copy {
  color: $second-color-b5;
}

.footer__agreement {
  color: $second-color-b5;
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
