.form__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.form__bottom {
  display: flex;
  justify-content: space-between;
}

.form__btn {
  margin-left: auto;
}
