.header-center {
  background: #ffffff;
  @media (max-width: 1080px) {
    display: none;
  }
}

.header-center__inner {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header__search {
  max-width: 300px;
}
