.header-top {
  background: $color-1;
  height: 60px;
}

.header-top__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.header__contact-info {
  display: flex;
  gap: 20px;
}

.header__city {
  font-size: 16px;
  color: $color-3;
}
.header__contact {
  color: $color-2;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: $color-3;
  }
}
