.header-top {
  background: $color-1;
  height: 60px;
  border-bottom: 1px solid $color-4;
}

.header-top__inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.header__contact-info {
  display: flex;
  gap: 20px;
  @media (max-width: 576px) {
    text-align: right;
    gap: 5px;
    flex-direction: column;
  }
}

.header__city {
  font-size: 16px;
  color: $color-3;
  @media (max-width: 576px) {
    display: none;
  }
}
.header__contact {
  color: $color-2;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  &:hover {
    color: $color-3;
  }
  @media (max-width: 576px) {
    font-size: 12px;
    color: $color-3;
  }
}
