.main__with-sidebar {
  align-items: start;
  display: flex;
  gap: 20px;
  @media (max-width: 1080px) {
    flex-direction: column;
    gap: 0px;
  }
}

.main__content {
  flex-grow: 1;
  width: 100%;
}
