.nav {
  display: flex;
  gap: 30px;
}

.nav__item {
  position: relative;
  font-weight: 500;
  color: $base-color-3;
  &.active {
    &::before {
      bottom: -7px;
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 1px;
    width: 100%;
    background: $base-color-3;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    &::before {
      bottom: -7px;
      opacity: 1;
    }
  }
}
