.news__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
}

.news__data {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.news__img {
  width: 100%;
  margin-bottom: 30px;
}

.news__desc {
  margin-bottom: 30px;
}
