//.page-preview {
//  margin-bottom: 50px;
//}

.page-preview__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  @media (max-width: 720px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.page-preview__content {
  display: flex;
  gap: 30px;
  @media (max-width: 720px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.page-preview__desc {
  flex-grow: 1;
}

.page-preview__img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  @media (max-width: 720px) {
    width: 100%;
    height: auto;
  }
}
