.section {
  margin-bottom: 50px;
  background: #fff;
  padding: 30px 15px;
}

.section__title {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  color: $base-color-1;

  //border-bottom: 1px solid #f5f5f5;
}

.section__content {
  margin-bottom: 30px;
}

.section__bottom {
  display: flex;
}

.section__btn {
  margin-left: auto;
}
