.section {
  width: 100%;
  margin-bottom: 50px;
  background: #fff;
  padding: 20px;
}

.section__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  color: $text-base;
  @media (max-width: 1080px) {
    font-size: 24px;
  }
  //border-bottom: 1px solid #f5f5f5;
}

//.section__content {
//}

.section__bottom {
  margin-top: 30px;
  display: flex;
}

.section__btn {
  margin-left: auto;
}
