.setting-view {
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.setting-view__select {
  @media (max-width: 480px) {
    flex-direction: column;
    align-items: start;
  }
}
