.short-basket {
  padding: 10px;
  width: 200px;
}

.short-basket__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.short-basket__info {
  margin-bottom: 20px;
}

.short-basket__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

//.short-basket__btn {
//}
