.btn {
  display: block;
  border: none;
  outline: none;
  text-align: center;
  color: #444;
  background: #fff;
  cursor: pointer;
  padding: 5px 15px;
  transition: background 0.2s ease-in-out;
  &_blue {
    background: #3361fa;
    color: #fff;
    &:hover {
      background: #002bb6;
    }
  }
}
