.btn {
  display: block;
  border: none;
  outline: none;
  text-align: center;
  color: $text-base;
  background: #ffffff00;
  cursor: pointer;
  padding: 10px 30px;
  transition: 0.2s ease-in-out;
  &_s {
    padding: 7px 20px;
    font-size: 13px;
  }

  &_base {
    background: $base-color-1;
    color: #fff;
    &:hover {
      background: $base-color-3;
    }
  }

  &_second-a {
    background: $second-color-a1;
    color: #fff;
    &:hover {
      background: $second-color-a3;
    }
  }

  &_second-b {
    background: $second-color-b2;
    color: #fff;
    &:hover {
      background: $second-color-b4;
    }
  }

  //&_blue {
  //  background: $second-color-b1;
  //  color: #fff;
  //  &:hover {
  //    background: $second-color-b3;
  //  }
  //}
  //&_green {
  //  background: #009d54;
  //  color: #ffffff;
  //  &:hover {
  //    background: #03c269;
  //  }
  //}
  //&_grey {
  //  background: #f0f0f0;
  //  &:hover {
  //    background: #ffffff;
  //  }
  //}
  //&_bd {
  //  border: 1px solid #aaa;
  //  &:hover {
  //    border: 1px solid #000;
  //  }
  //}
}
