.btn {
  display: block;
  border: none;
  outline: none;
  text-align: center;
  color: #444;
  background: #ffffff00;
  cursor: pointer;
  padding: 10px 30px;
  transition: 0.2s ease-in-out;
  &_s {
    padding: 7px 20px;
    font-size: 13px;
  }
  &_blue {
    background: #3361fa;
    color: #fff;
    &:hover {
      background: #002bb6;
    }
  }
  &_green {
    background: #009d54;
    color: #ffffff;
    &:hover {
      background: #03c269;
    }
  }
  &_grey {
    background: #f0f0f0;
    &:hover {
      background: #ffffff;
    }
  }
  &_bd {
    border: 1px solid #aaa;
    &:hover {
      border: 1px solid #000;
    }
  }
}
