.checkbox {
  display: block;
  width: 100%;
  &.orange {
    &:hover {
      .checkbox__fake {
        border-color: $color-4;
      }
      .checkbox-control__name {
        color: $color-4;
      }
    }
  }

  &.orange {
    .checkbox__input {
      &:checked + .checkbox__content .checkbox__fake {
        border-color: $color-4;
        &::before {
          display: block;
          background: $color-4;
        }
      }
      &:checked + .checkbox__content .checkbox-control__name {
        color: $color-4;
      }
    }
  }
}

.checkbox__input {
  display: none;
  &:checked + .checkbox__content .checkbox__fake {
    border-color: $text-base;
    &::before {
      display: block;
      background: $text-base;
    }
  }
  &:checked + .checkbox__content .checkbox-control__name {
    color: $text-base;
  }
}

.checkbox__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 3px 0;
}

.checkbox__fake {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #0f0f0f;
  flex-shrink: 0;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 8px;
    height: 8px;
    background: #0f0f0f;
  }
}
