.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo__icon {
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
}

.logo__text {
  color: #ffffff;
  font-weight: 500;
}

.logo__word {
  display: block;
  line-height: 1;
}
